body{
    background: url("../image/images/5.jpg");
    background-size: cover;
}
.header{
    width: 1600px;
    height: 100px;
    background: #333;
    opacity: 0.75;
}
.nav{
    height: 100px;
    background: #333;
    opacity: inherit;
}
.nav-item{
    width: 250px;
    height: 100px;
}
.dropdown-item{
    width: 100%;
    height: 80px;
    font-family: "Apple Braille";
    font-size: 20px;
    text-align: center;
    align-items: center;
    z-index: 999;
}
.nav-link{
    width: 100%;
    height: 100px;
    font-family: "Apple Braille";
    font-size: 35px;
    text-align: center;
    padding-top: 25px;
    align-items: center;
    color: white;
}
.container{
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
.d-block{
    width: 1100px;
    height: 700px;
}
.footer{
    width: 100%;
    hieght: 100px;
    padding-top: 10px;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
